.areas {
    background-color: rgba(187, 187, 201, 0.2);
    text-align: center;
    color: #0e0e0e;
    padding-top: 60px;
    min-height: 100vh;
}


.areabody {
    max-width: 800px;
    margin: auto;
}

.areastitulo {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.areassubtexto {
    /* font-family: 'Noto Serif TC', serif; */
    margin-bottom: 50px;
}

.areasgrid1 {
    display: grid;

    grid-template-columns: 1fr;
    /* grid-auto-rows: 100vw;
    grid-template-areas: "uno""dos""cuatro""tres""cinco""seis""ocho""siete"; */

}

.griddiv {
    display: flex;
    flex-direction: column;
    /*     height: 100%;
    width: 100%; */
    justify-content: center;
    align-content: center;

    padding: 10px 20px 20px 30px;


}


.griddiv h3 {
    margin-bottom: 30px;
    font-family: 'Cinzel', serif;
    font-weight: 200;
    font-size: 24px;
}

.griddiv p {
    font-size: 16px;
    /* font-family: 'Noto Serif TC', serif; */
    margin-bottom: 20px;
    text-align: justify;
}

.griddiv hr {
    width: 30%;
    border-top: 1px solid #0e0e0e;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: auto;
}


/* .griddivitem1 {
    grid-area: uno;
}

.griddivitem2 {
    grid-area: dos;
}

.griddivitem3 {
    grid-area: tres;
}

.griddivitem4 {
    grid-area: cuatro;
} */

.griddivitem5 hr {
    grid-area: cinco;
    display: none;
}





@media(min-width: 950px) {

    .areas {

        padding-top: 100px;
        min-height: 0vh;

    }

    .areastitulo {
        font-family: 'Cinzel', serif;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 80px;
        margin-top: 30px;
    }

    .areasgrid1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 20px;
        /* grid-auto-rows: 100vw;
        grid-template-areas: "uno""dos""cuatro""tres""cinco""seis""ocho""siete"; */

    }

    .areasgrid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 66%;
        margin: auto;
        /* grid-auto-rows: 100vw;
        grid-template-areas: "uno""dos""cuatro""tres""cinco""seis""ocho""siete"; */

    }

    .griddiv {
        display: flex;
        flex-direction: row;
        /*     height: 100%;
        width: 100%; */
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 0 0px 20px 20px;


    }

    .griddiv h3 {
        margin-bottom: 00px;
        font-family: 'Cinzel', serif;
        font-weight: 200;
    }

    .griddiv p {
        font-size: 15px;
    }

    .griddiv hr {
        display: inline-block;
        height: 80%;
        width: 1px;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 1px solid #0e0e0e;
        border-right: 0px;
        margin: auto;
        margin-left: 20px;
    }

    .griddivitem3 hr {
        display: inline-block;
        height: 80%;
        width: 1px;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px solid #0e0e0e;
        border-right: 0px;
        margin: auto;
        margin-left: 20px;
    }

    .griddivitem5 hr {
        display: inline-block;
        height: 80%;
        width: 1px;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px solid #0e0e0e;
        border-right: 0px;
        margin: auto;
        margin-left: 20px;
    }
}