.followinsta {
    min-height: 100vh;
    text-align: center;
    padding-top: 120px;
}

.followbody {
    max-width: 800px;
    margin: auto;
}

.title {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 20px;

}

.gifcontainer {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 1%;
    margin-bottom: 40px;
}

.gifcontainer img {
    width: 100%;
}

@media(min-width: 950px) {

    .title {

        font-size: 40px;


    }

    .gifcontainer {

        grid-template-columns: 1fr 1fr 1fr;
    }

}