.portada {
    /* height: 100vh; */
    padding-top: 90px;
    color: #0e0e0e;
    text-align: center;
    font-family: 'Cinzel', serif;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)), url("img/portada1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;

}

.portadatitulo {
    font-size: 70px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 8px;
    /* max-width: 100%; */
}

.portadasubtitulo {
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px;
}



.portada>hr {
    width: 320px;
    max-width: 80vw;
    border-top: 1px solid #0e0e0e;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: auto;

}

.slogan {
    font-size: 30px;
    font-weight: 400;
    margin-top: 15vh;
    /* font-family: 'Noto Serif TC', serif; */
    /* font-family: 'Source Serif Pro', serif; */
}

.slogan br {
    margin: 0;
}


@media(min-width: 950px) {

    .portada {
        /* height: 100vh; */
        /* padding-top: 140px; */
        color: #0e0e0e;
        text-align: center;
        font-family: 'Cinzel', serif;

    }

    .portadatitulo {
        font-size: 80px;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 8px;
    }

    .portadatitulo br {
        display: none;
    }

    .portadasubtitulo {
        font-size: 30px;
        font-weight: 300;
        margin-top: 15px;
    }



    .portada>hr {
        border-top: 2px solid #0e0e0e;
        width: 760px;
    }



    .slogan {
        font-size: 34px;
        font-weight: 400;
        margin-top: 130px;
        /* font-family: 'Noto Serif TC', serif; */
        /* font-family: 'Source Serif Pro', serif; */
    }
}

@media(max-width: 400px) {

    .slogan {
        margin-top: 10vh;
    }

}